* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px; /*inicio*/
}
a {
  text-decoration: none;

  cursor: pointer;
  color: white;
}

a:hover {
  font-weight: bold;
}

.corpo {
  background-color: #fff4fa;

  font-family: "Open Sans Condensed", sans-serif;
}

/* BARRA DE NAVEGAÇÃO */

li {
  font-size: 1.6rem;
  
}
ul li,
ol li {
  list-style: none;
  padding: 20px;
  -webkit-text-stroke-width: 1px;
  /* -webkit-text-stroke-color: #000; */
}

.navegacao {
  height: 70px;
  display: flex;
  background-color: palevioletred;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* min-width: 1200px; */
}
.nav-lista {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.nav-img {
  height: 5rem;
  margin: 2rem;
}

/* HEADER */

.cabecalho {
  background: url(../img/bannerheader.jpg) center;
  /* background-color: aqua;
  opacity: 1; */
  background-size: cover;
  /* margin-left: 200px; */
  height: 50vh;
  /* max-height: 50vh; */
  width: 200px;
  /* width: 200px; */
  /* max-width: 95rem; */
  width: 100%;
  /* min-width: 1110px; */

  /* display: flex; */
  align-items: center;
  justify-content: center;
  text-align: center;
  /* width: 100%;
  max-width: 300px; */
  /* align-items: center; */
}

/* TÍTULOS E PARÁGRAFOS */

.titulo {
  text-align: center;
  color: #7e459b;
  padding: 10px;
  font-family: "Balsamiq Sans", cursive;
  font-size: 2.4rem;
}

.titulo-branco {
  font-family: "Anton", sans-serif;
  color: palevioletred;
  text-align: center;
  padding: 10px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 4rem;
}

.paragrafo {
  display: inline-block;
  text-align: justify;
  padding: 10px;

  font-size: 1.8rem;

  align-items: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

/* SESSÃO ARTIGO  */

.artigo-imagem {
  display: flex;
  text-align: center;

  border-radius: 200px;
  padding: 1rem;
  margin-right: 2rem;

  align-items: center;
  width: 100%;
  max-width: 200px;
  width: 20rem;
}

.artigo {
  display: inline-flex;
  justify-content: space-between;
  padding: 2rem;
  text-align: left;
  font-size: 20px;
  align-items: center;
  margin: 0 20rem;
  border: 2px aqua solid;
}

/* SESSÃO MINHAS LISTAS */

.sessao {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  text-align: left;
  font-size: 20px;
  align-items: center;
  margin: 0 20rem;
}

.sessao--flex {
  display: flex;
  justify-content: space-between;
  border: solid 3px purple;
  padding: 2rem;
  text-align: left;
  font-size: 20px;
  align-items: center;

  flex-wrap: wrap;
}

.sessao-caixa {
  border: aqua 2px dashed;

  padding: 1rem;
}

.lista {
  border: 3px solid palevioletred;
  padding: 2rem;
}

.itemLista {
  border: blueviolet 2px dashed;
  padding: 2rem;
}

/* SESSÃO SOBRE MIM */

.sobre-mim {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  text-align: left;
  font-size: 20px;
  align-items: center;
  margin: 0 20rem;
  border: 2px aqua solid;
  margin-top: 5rem;
}

.minha-foto {
  background-image: url(../img/drifoto.jpg);

  background-size: cover;
  display: block;
  max-width: 300px;
  width: 100%;
  height: 300px;
  width: 200rem;
  padding: 2rem;
}
.historia {
  font-size: 20px;
}

/* FORMULÁRIO */
.formulario {
  background-color: aqua;
  border-radius: 30px;
  margin: 5rem 10rem;
  width: 700px;
}
.formulario-div {
  padding: 2rem;
  text-align: center;
}

.input {
  padding: 0.8rem;
  border: 1px blue solid;
  text-align: center;
}

#textarea {
  width: 50%;
  height: 20rem;
  border: 1px blue solid;
}
.rotulo {
  font-size: 1.6rem;
  padding: 10px;
  font-weight: bolder;
}

.paragrafo-form {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-size: 1.7rem;
}

button {
  background-color: palevioletred;
  color: white;
  border-radius: 5px;
  width: 8rem;
}

/* GALERIA  */

.galeria {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.galeria-img {
  display: block;
  max-width: 300px;
  width: 100%;
  height: 300px;
  padding: 2rem;
}

.galeria-box {
  background-color: gray;
  margin: 2rem;
}

.paragrafo-center {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  color: white;
}

/* FOOTER */

.footer {
  display: flex;
  height: 5rem;
  text-align: center;
  justify-content: center;
  background-color: palevioletred;
  color: white;

  width: 100%;
}

.footer p {
  display: flex;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: white;
}

/* MENU HAMBÚRGUER - RESPONSIVIDADE */

#menu-desktop {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
}

#menu-celular {
  display: none;
}

.menu-responsivo {
  position: relative;
  cursor: pointer;
  color: black;
}

.menu-lista-responsivo {
  position: absolute;
  color: palevioletred;
  top: 60px;
  right: 0;
  background: grey;
  display: none;
}

.menu-responsivo:hover > .menu-lista-responsivo {
  display: block;
}

/*TAMBÉM PODE FAZER O MEDIA QUERY ASSIM: 
@media (max-width: 650px) */

/* MEDIA QUERIES - RESPONSIVIDADE */

@media screen and (max-width: 650px) {
  html {
    font-size: 8px;
  }
  .formulario {
    margin: 0 auto;
  }

  .galeria {
    justify-content: center;
  }
}

@media screen and (max-width: 450px) {
  #menu-celular {
    display: block;
  }

  #menu-desktop {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .sessao,
  .sessao--flex {
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .artigo,
  .sobre-mim {
    text-align: justify;
    display: block;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .titulo {
    width: 100%;
  }

  .sessao-caixa {
    margin: 10px;
  }
}

@media screen and (max-width: 200px) {
  .galeria {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (max-width: 990px) {
}

/* --- titulo 3.2 rem
3.2 * font-size padrao ou font-size atribuída por padrão ---

--- html 10px * 3.2rem = 32px ---

--- com até 650px de largura de tela
html = 8px | titulo=3.2rem | 3.2rem * 8 = 25.6 px ---
*/

/* ESPECIFICIDADE   (O MAIS ESPECÍFICO PREVALECE)
ID -> CLASSE -> ELEMENTO

DEPOIS VEM A CASCATA  ( O MAIS EMBAIXO VENCE) */
