
    /* ESPICIFICIDADE 
    O MAIS ESPECIFICO VENCE! */
/* DEPOIS VEM A CASCATA, O MAIS EMBAIXO VENCE */

/* reset comportamento padrao da pagina */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    font-weight: bold;
}

ul li {
   list-style: none; 
}

/* conteudo */

.navegacao {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7E459B;
}

.nav__lista{
    display: flex;
    align-items: center;
    color: #fff;
}

.nav__img {
    height: 50px;
    margin: 20px;
}

/* height = altura 
width = largura  */

.titulo {
    text-align: center;
    color: #7E459B; 
    padding: 10px;
}

.paragrafo {
    display: inline-block;
    width: 350px;
    text-align: justify;
    padding: 10px;
}

.artigo__imagem {
    display: inline-block;
    width: 300px;
    border-radius: 50%;
    padding: 10px;
    margin-right: 20px;
}

.artigo {
    text-align: center;
    padding: 20px;
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6%;
}

.paragrafo {
    line-height: 1.5;
    color: rgb(25, 25, 26);
}
.sessao {
    padding: 30px;
}

.sessao--flex {
    display: flex;
    justify-content: space-around;
}

.lista {
    line-height: 2;
}


.footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2e2e2e;
    color: white;
}
