*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
a:hover{
    font-weight: bold;
} 

ul li{
    list-style: none;
}
/*conteudo*/
.navegacao{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7E459B;;
}

.nav_lista{
    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
}
.nav_lista > li{
    margin-right: 20px;
    padding: 20px;
}

.nav_img{
    height: 50px;
    margin: 10px;   
}
/*cabecalho da página*/
.cabecalho{
    background: url(/alunas/michele_/img/relaxing-cat.jpg);
    background-size: contain;
    background-position: 80% 50%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo{
text-align: center;
color: #7E459B;
padding: 10px;
}
.branco{
    color: white;
}

.paragrafo{
    display: inline-block;
    width: 350px;
    text-align: justify;
    padding: 10px;
}
.artigo{
    text-align: center;
    padding: 20px;
   /* border-radius: 50px;
    padding: 20px;*/
}

.artigo_imagem{
display: inline-block;
width: 150px;
border-radius: 50%;
padding: 10px;
margin-right: 20px;
}
.img--block{
    display: block;
}
.sessao{
    padding: 30px;
}

.sessao--flex{
    display: flex;
    justify-content: space-around;
}
/*
.sessao_caixa{
    border: 3px solid aqua;
}

.lista{
    border: red 2px dashed;
}
.itemLista{
    border: purple 2px dashed;
}*/
.formulario{
    background-color: rgb(172, 167, 167);
    margin: 50px 100px;
    padding: 10px;
    border-radius: 15px;
}

.formulario_div{
    padding: 10px;
    text-align: center;
}
.input{
    padding: 10px;
    border: 1px blue solid;
    border-radius: 10px;
    text-align: center;
}

#textarea{
    width: 68%;
    height: 200px;
    border: 1px blue solid;
}

.footer{
    text-align: center;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #2e2e2e;
    color: white;
    justify-items: center;
}