*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: rgb(253, 253, 253);
}
html, body{
    height: 100vh;
}


/* Main */

.sobre{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
    color: #F0A6CA;
}

.artigo{
    margin: 0 10% 0;
    padding: 30px;
}

.artigo_descricao{
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.artigo_descricao > p{
    display: inline-block;
    width: 60%;
    padding: 30px;
    justify-content: center;
}

.img_perfil{
    border-radius: 50%;
    max-width: 220px;
    padding: 10px;
    display: inline-block;
}

.texto1{
    line-height: 28px;
    font-size: 16px;
    font-weight: 300;
    
}

/* Minha lista */
.minha_lista{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding-top: 40px;
    color: #F0A6CA;
}

.lista{
    height: 300px;
    width: 1100px;
    margin-left: 8%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tabela{
    width: 250px;
    height: 240px;
    font-weight: 600;
    font-size: 20px;
    color: white;
   
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    
}

.tabela:hover{
    box-shadow: 0em 0.4em 0.5rem #c9c6c9;
    top:-2px;box-shadow:0 10px 10px #b9b7b9;
    
}

.favorite{
    position: absolute;  
    text-shadow: 0.1em 0.1em #333
}

.book img{
    height: 250px;
    width: 250px;
    
}



.inspiration{
    position: absolute;
    text-shadow: 0.1em 0.1em #333
}

.art img{
    height: 250px;
    width: 250px;
}

.read{
    position: absolute;
    text-shadow: 0.1em 0.1em #333
}

.google img{
    height: 250px;
    width: 250px;
}


.hr3{
    margin-left: 460px;
    margin-top: 30px;
    width:30%;
    height:2px;
    border-width:0;
    border-radius: 3px;
    background-color: rgb(248, 246, 246);
    
}

hr{
    margin-left: 460px;
    margin-top: 30px;
    width:30%;
    height:2px;
    border-width:0;
    border-radius: 3px;
    background-color: rgb(248, 246, 246);
    
}


/* Curiosidade profissional */

.curiosidade{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}


.figura > img{
    max-width: 300px;
    margin-left: 160px;
    border-radius: 50%;

}


.conteudo_curiosidade{
    padding: 30px;
    padding-right: 100px;
    flex-direction: column;
    text-align: center;
}

.titulo3{
    font-size: 20px;
    text-align: center;
    padding: 20px;
    color: #F0A6CA;
}



.texto2{
    text-align: center;
    max-width: 90%;
    line-height: 28px;
    font-size: 16px;
    font-weight: 300;
    margin: 0 auto;
}

.saiba_mais{
    width: 180px;
    height: 40px;
    background-color: #0a1d29;
    border-radius: 1rem;
    border: none;
    margin-top: 26px;
    
}

.botao1{ 
    text-decoration:none;
    color: white;
    list-style: none;
}

.saiba_mais:hover{
    background-color: #F0A6CA;

}

/* formulário */

#formulario{
    margin-bottom: 30px;
}
fieldset{
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background-color:#0a1d29;    
    padding-top: 60x;
    text-align: center;
    border: none;
}


h1{
    color: white;
    font-weight: 900;
    font-size: 20px;
    text-align:center;
    padding: 20px;
    margin-top: 20px;

}

input{
    width: 30%;
    padding: 15px;
    margin-bottom: 15px;
    margin-left: 35% ;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    
    display: flex;
    flex-direction: column;
}

#mensagem{
    width: 30%;
    height: 80px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    padding: 15px;
    margin-bottom: 15px;
}


#mensagem:focus{
    border: 2px solid #F0A6CA;
    outline: none;
}

input:focus{
    border: 1px solid #F0A6CA;
    outline: none;
}


#enviar{
    color: white;
    background-color:#F0A6CA;
    border: none;
    width: 30%;
    font-weight: bold;

    display: flex;
    align-items: center;
    
}

#enviar:hover{
    background-color: #ec7fb4;
    color: white;
    font-weight: bold;
}
.be_art{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 200;
    color: #f0d8e4;
    margin-bottom: 2%;
}

input:invalid{
    border-color: red;
}

@media screen and (max-width: 600px){

    main{
        width: 100%;
    }

    /* Sobre mim */
    .artigo{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .artigo_descricao > p{
        width: 100%;
        padding-top: 20px;
        display: flex;
        text-align: center;
    }

    .texto1{

        line-height: 20px;
        font-size: 12px;
        line-height: 20px;
        word-spacing: 2px;
        text-align: center;

        display: flex;
        
    }
        
        
    .img_perfil{
        display: none;
    }

    /* minha lista */
    .minha_lista{
        color: rgb(207, 68, 68);
        font-size: 14px;
        margin-bottom: 20px;
    }

    .lista{
        width: 100%;
        height: 50%;
        margin: 0;
        margin-bottom: 20px;
        

    }

    .tabela{
        height: 40%;
    }

    .tabela img{
        width: 100px;
        height: 100px ;

        border-radius: 50%;
        
        display: flex;
        align-items: center;
        justify-content: space-between;


    }

    .favorite, .inspiration, .read{
        font-size: 12px;
        text-align: center;
        width: 80px
    }

    .hr3{
        margin-left: 80px;
    }

    /* curiosidades profissionais */

    .curiosidade{
        width: 100%;
        margin: 0;
        padding-top: 30px;
        margin-bottom: 20px ;

        display: flex;
        flex-direction: column;  
    }

    .figura img{
        margin: 0;
    }

    .conteudo_curiosidade{
        padding: 0;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .titulo3{
        font-size: 16px;
        text-align: center;
        display: flex;
        justify-content: center;
        height: 10%;
    }
    
    .texto2{
        font-size: 12px;
        line-height: 20px;
        word-spacing: 2px;
        text-align: center;

        display: flex;
        justify-content: center;
    }

    #formulario{
        margin-left: 140px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    h1{
        font-size: 16px;
    }

    input{
        width: 60%;
        margin-left: 20%;
    }

    #mensagem, #enviar{
        width: 60%;
    }
}


@media screen and (max-width: 400px){
    
    .hr3{
        margin-left: 130px;
        margin-top: 20px;
    }
}