* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: none;
  box-sizing: border-box;
  outline: none;


}

/* RESET */
/*
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: none;
  outline: none;
  font-weight: 300;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

*/
img {
  max-width: 100%;
}

a {
  text-decoration: none;
  /* color: inherit; */
  cursor: pointer;
  color: white;
}

a:hover {
  font-weight: bold;
}

.corpo {
  background-color: #ADD8E6;
  /* font-family: 'Balsamiq Sans', cursive; */
  font-family: 'Roboto', sans-serif;
}

ul li,
ol li {
  list-style: none;
  padding: 20px;
  -webkit-text-stroke-width: 1px;
  /* -webkit-text-stroke-color: #000; */
}

.navegacao {
  height: 70px;
  display: flex;
  background-color: #4682B4;
  justify-content: space-between;
  align-items: center;
  width: 100%;


}

.nav-lista {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-around;
}

.nav-img {
  height: 50px;
  margin: 20px;
}

.banner {
  background: url(../img/banner.jpg) repeat center;

  background-size: contain;
  height: 34vh;
}

/* conteúdo */

.titulo {
  text-align: center;
  color: #fff;
  padding: 40px;
  font-size: 160%;
  font-family: 'Roboto', cursive;

}

.titulo-branco {
  color: #fff;
  text-align: center;
  padding: 70px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #202fe2;
  font-size: 300%;
}

.paragrafo {
  /* display: inline-block; */
  /* width: 350px; */
  /* text-align: left; */
  /* padding: 10px; */
  display: flex;
  font-size: 20px;
  display: flex;
  align-items: center;
  -webkit-text-stroke-color: #000;
  ;

}

.artigo-imagem {
  display: flex;
  width: 200px;
  border-radius: 100px;
  padding: 10px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.artigo {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  text-align: left;
  font-size: 20px;
  align-items: center;
  margin: 0 200px;
  width: 100%;
    max-width: 980px
  
}

.sessao {

  display: flex;
  justify-content: space-between;
  padding: 20px;
  text-align: left;
  font-size: 20px;
  align-items: center;
  margin: 0 150px;
  width: 100%;
    max-width: 980px
}

.sessao--flex {
  display: flex;
  justify-content: space-between;
  border: solid 3px #fff;
  padding: 20px;
  text-align: left;
  font-size: 20px;
  align-items: center;
  margin: 0 200px;
}

.sessao-caixa {
  
  padding: 20px;
}

.lista {
  border: 3px solid #fff;
  padding: 20px;
}

.itemLista {
  border: #1E90FF 2px solid;
  padding: 20px;
}

.sobre-mim {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  text-align: left;
  font-size: 20px;
  align-items: center;
  margin: 0 200px;
  width: 100%;
    max-width: 980px
}

.minha-foto {
  background-image: url(../img/drifoto.jpg);
  background-size: cover;
  height: 300px;
  width: 2000px;
  margin: 10px;
}

.historia {
  font-size: 20px;
}

.footer {
  display: flex;
  height: 50px;
  text-align: center;
  justify-content: center;
  background-color: #4682B4;
  color: white;

}

.footer p {
  display: flex;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: white;
}

.formulario {
  background-color: #4682B4;
  border-radius: 30px;
  margin: 50px 100px;
  width: 700px;

}

.formulario-div {
  padding: 20px;
  text-align: center;



}

.input {
  padding: 5px;
  border: 1px blue solid;
  text-align: center;
}

#textarea {
  width: 500px;
  height: 200px;
  border: 1px blue solid;
}


#historia {
  text-align: center;
  justify-content: center;
}

button {
  background-color: #7B68EE;
  color: white;
  border-radius: 5px;
  width: 80px;
}

@media (max-width: 600px){
  
 /*
  .sessao {
    display: none;
  }
  */
  .historia{
    text-align: justify;
  }
}