.corpo {
  background-color: #FFD700;
}

.barrinha {
  background-color: rgb(192, 32, 32);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius:10px;
}

.titulo  {
  text-align: center;
  color:rgb(192, 32, 32);
}

.img_titulo{
  display:inline-block;
  width: 250px;
  border-radius: 50px;
}
.paragrafo_titulo
 {
   display: inline-block;
   width: 400px;
   text-align: justify;
   padding: 10px;
 }

.geografia {
  display: inline-block;
   width: 400px;
   text-align: justify;
   padding: 10px;
}

.geografia_img {
  display:inline-block;
  width: 250px;
  border-radius: 50px;
}

.lista {
  text-decoration: none;
  margin: 10px;
}

.itemLista {
  margin: 10px;
  padding: 10px;
}




.artigo {
  text-align: center;
  padding: 20px;
}
























a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

}

a:hover{
  font-weight: bold;
}


