
* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Raleway", sans-serif;
  }

  html, body {
  font-size: 10px;
  overflow-x: hidden;

}
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  
  a:hover {
    font-weight: bold;
  }
  li{
    font-size: 1.9rem;
  }
  ul li {
    list-style: none;
  }
  
  /* conteudo */
  
  /* barra de navegação */
  
  .navegacao {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7cd2d;
   
   
  }
  
  .nav__lista {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 1rem;
  }
  
  .nav__lista > li {
    margin-right: 1rem;
    padding: 1rem;
  }
  
  .nav__img {
    height: 50px;
    margin: 10px;
  }
  
#menu--desktop {
  display: flex;
}

#menu--celular {
  display: none;
}

/* menu mae */
.menu--responsivo {
  position: relative;
  cursor: pointer;
}
 /* menu filha */
.menu__lista--responsivo {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  color: #fff;
  background: #f2f2f255;
  width: 100vw;
}

  
  /* cabeçalho da pagina */
  .cabecalho {
    background: url(/alunas/viviane-santos/imagens/WhatsApp\ Image\ 2020-08-29\ at\ 16.37.36.jpeg);
    background-size: cover;
    background-position: 50% 30%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 6rem;
  }
  
  /* height = altura 
  width = largura  */
  /* main -- conteudo principal */
  
  .titulo {
    text-align: center;
    color: #4c54f1;
    padding: 10px;
    font-size: 20px;
  
  }
  .subtitulo{
    font-size:2.6rem;
  }
  
  .branco {
    color: rgb(36, 19, 102);
    height: 150px ;
    font-size: 30px;
    
  }
  
  .paragrafo {
      display: inline-block;
      max-width: 350px;
      width: 200%;
      text-align: justify;
      padding: 13px;
      font-size: 1.8rem;
    
  }
  
  .artigo {
    text-align: center;
    padding: 2rem;
  }
  
  .artigo__imagem {
    display: inline-block;
    max-width: 200px;
    width: 25%;
    border-radius: 50%;
    padding: 1rem;
    margin-right: 2rem;
    position: relative;
  }
  
  .img--block {
    display: block;
  }
  
  .sessao {
    padding: 3rem;
  }
  
  .sessao--flex {
    display: flex;
    justify-content: center;
    margin: 2rem;
    width: 90%; 
    text-align: left; 
  }
  
  .sessao__caixa {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 50%;

  }
  
  .lista {
    
    margin: 0.5rem; 
    width: 90%;
    height: 90%;
  }
  
  .itemLista {
    border:#f7cd2d 2px dashed;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 50%;
  }
   /* galeria */
.galeria {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.galeria__box {
  background-color: #5cdff2;
  margin: 1rem;
}

.paragrafo--center {
  text-align: center;
}

.galeria__img{
  display: block;
  max-width: 300px;
  width: 100%;
  height: auto;
  padding: 2rem;
}

.align-self {
  align-self: flex-end;
}

.formulario {
  background-color:#f7cd2d;
  margin: 5rem 10rem;
}

.formulario__div {
  padding: 5rem;
  text-align: center;
}
  
.rotulo{
  font-size: 1.6rem;
}
  .input {
    padding: 0.8rem;
    border: 1px blue solid;
    border-radius: 10px;
  }

  .flex--input{
    display: flex;
  }
  
  #textarea {
    width: 90%;
    height: 150px;
    border: 1px blue solid;
  }
  
  /* rodapé */
  .footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2e2e2e;
    color: white;
    text-align: center;
  }
  
    html {
      font-size: 8px;
    }
 
    .formulario {
     margin: auto;
    }
    .galeria{
      justify-content: center;
    }

@media screen and (max-width:450px) {
 #menu--celular {
   display: contents;
   position: absolute;
 } 
  
 #menu--desktop {
   display: none;
 }
}

 
