/* DEPOIS VEM A CASCATA, O MAIS EMBAIXO VENCE */

/* reset comportamento padrao da pagina */
* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    background-color: #eeecec;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    font-weight: bold;
}

li {
    font-size: 1.6rem;
}

ul li {
   list-style: none; 
}

/* conteudo */

.principal {
   
background: url(../imagem/banner.png) no-repeat; 
background-size: cover;
height: 40vh;
background-position: 50% 50%; 

     
    
}

.navegacao {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7E459B;
}

.nav__lista{
    display: flex;
    justify-content: space-evenly;    
    color: #fff;
    width: 300px;
    align-items: center
}

.nav__img {
    height: 50px;
    margin: 1rem;
}



#menu--celular {
    display: none;
}

/*menu mae */
.menu--responsivo {
position: relative;
cursor: pointer;
}
/*menu filha */
.menu__lista--responsivo {
display: none;
position: absolute;
top: 60px;
right: 0;
color: cornsilk;
background: #ff5e84
}

/*hover--passando o mouse por cima do menu mae: menu filha faça isso*/
.menu--responsivo: :hover .menu__lista--responsivo {
  display: block;
}

/* height = altura 
width = largura  */

.titulo {
    text-align: center;
    padding: 20px;
    color: rgb(46, 44, 44);
    
}

.paragrafo {
    display: inline-block;
    width: 100%;
    padding: 50px;
    margin-top: 10px;
    font-size: 1.4rem;
    max-width: 350px;

    
}

.artigo__imagem {
    display: inline-block;
    width: 100%;
    max-width: 320px;
    margin-top: 330px;
    border-radius: 17%;
    padding: 1rem;
    margin-right: 2rem;
    border: 2px hsl(283, 78%, 73%) solid;
    
}

.artigo {
    text-align: center;
    padding: 2rem;
    
    
}

.sessao-octocat {
    padding: 3rem;
    display: flex; 
    align-items: center;
    justify-content: center;
}   

.sessao-paragrafo {
   line-height: 20px;
   font-size: 20px;
   margin-bottom: 25px;
   padding-left: 36px;

}

.sessao-imagem {
    max-height: 270px;
    border-radius: 50%;
    margin-bottom: 50px;
    margin-right: 40px;
    border: 1px solid rgb(110, 83, 231);
}



.sessao__caixa {
    text-align: center;
    border: 1px solid #ad6ee0;
    margin: 1rem;
}


.footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 20px;
    text-align: center;
    background-color: #dadada;
    color: white;
    padding: 24px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2e2e2e;
    color: white;
}

.itemLista {
    border: #9ab8e6 2px  dashed;
    margin: 1rem;
    padding: 1rem;
}

/* formulario */

.formulario {
    background-color: #9ab8e6;
    margin: 5rem 10rem;
    border-radius: 20px;
  }
  
  .formulario__div {
    padding: 5rem;
    text-align: center;
  }

  rotulo {
    .font-size: 1.6rem; 
  }
  
  .input {
    padding: 0.9 rem;
    border: 1px rgb(185, 89, 157) solid;
    border-radius: 10px;
  }
  
  #textarea {
    width: 50%;
    height: 200px;
    border: 1px #ff5e84;
  }

  @media screen and (max-width: 650px) {
      html {
          font-size: 8px;
      }

      .formulario {
    margin: 0 auto;
    }

    .galeria{
        justify-content: center;
    }

    @media screen and (max-width:451px;) {
    #menu--celular {
      display: block;  
    }
    
    }

