*{
    box-sizing: border-box;
    
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
  .sobre{
    max-width: 47vw;
    margin: auto;
    margin-top: 9rem;
    margin-bottom: 3rem;
  }
  
  .sobre-mim{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .sobre-mim_habilidades {
    width: 13vw;
    margin-left: 2rem;
  }  
footer{
    background-color:#fcf909;
    padding: 2rem 0;
}
footer p{
    color: black;
    text-align: center;
}
h3{
    max-width: 47vw;
    margin: auto;
    margin-bottom: 3rem;

}
.sessao-dois{
    max-width: 47vw;
    margin: auto; 
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-around;
}
.texto{
    max-width: 60vw;
    margin: auto;   
    margin-bottom: 3rem;
}
