* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Baloo Tamma 2', cursive;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    padding-right: 0.5rem;
}

a:hover {
    font-weight: bold;
}

        /* Conteudo daqui para baixo*/

ul li {
    font-style: none;
}

body {
    background-image: url(../img/repeat.jpg);
    background-repeat: round;
    background-size: 20vw;
}

.navegacao {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7E459B;
}

.nav__lista {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0.5rem;
    list-style: none;
    font-size: 1.02rem;

}

.nav__img {
    height: 30px;
    margin: 10px;
    
}

.nav__imgh {
    height: 30px;
}

/* artigo*/

.titulo {
    text-align:center;
    color: #7E459B;
    padding: 30px;
    display: block;
}

.paragrafo {
    display: block;
    text-align: justify;
    padding-top: 50px;
    padding-bottom: 40px;
    margin: auto;
}

.artigo__imagem {
    display: inline-block;
    width: 250px;
    border-radius: 60%;
    margin-top: 30px;
}

.artigo {
    text-align: center;
    padding: 20px;
    display: block;
}

/* minhas listas*/

.sessao {
    padding: 50px;
}

.sessao--flex {
    display: flex;
    justify-content: space-evenly;
}

.sessao__caixa {
    border: 2px solid purple;
    border-radius: 20px;
    
}

.lista {
    border: purple 0.5px solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.itemLista {
    border: purple 0.5px solid;
    border-bottom: none;
    border-right: none;
}


.MinhasListas {
    text-align: center;
}

/* formulario*/

.tituloform {
    text-align: center;
    padding: 20px;
    color:#7E459B
}

.formulario {
    background-image: url(../img/caderninho.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    margin-right: 300px;
    margin-bottom: 80px;
    margin-left: 300px;
    border-radius: 80px;
    border: rebeccapurple;
    padding-top: 150px;
    padding-bottom: 80px;
}

.paragrafoform {
    text-align: center;
    padding-bottom: 5px;
}


.formulario__div {
    text-align: center;
    padding-top: 40px;
    padding: 5px;
    
}

.rotulo {
    font-size:0.85rem;
}

.input {
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    text-align: justify;
    width: 300px; 
    border: none;
}

.input--radio {
    margin: 5px;
    margin-left: 40px;
}

.bverde {
    color: green;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}

.bvermelho {
    color: red;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* octocat*/

.img__octo {
    height: 250px;
}

/* rodape*/

.footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2e2e2e;
    color: white;
}

.paragrafofooter {
    line-height: 25px;
    font-size: 15px;
}

.paragrafocto {
    padding-bottom: 30px;
    padding-left: 50px;
}

/* responsividade daqui pra baixo*/

@media screen and (min-width: 1360px) {
    .paragrafo {
        width: 500px;

    }
}

@media screen and (max-width: 1360px) {
    .formulario {
        margin-right: 50px;
        margin-left: 50px;

    }
}

@media screen and (max-width: 1260px) {
    .formulario {
        margin-right: 50px;
        margin-left: 50px;
        padding-top: 5rem;
    }

    body {
        background-size: 50vw;
    }
}

@media screen and (max-width: 900px) {
    .formulario {
        margin-right: 0px;
        margin-left: 0px;
    }

    .input--radio {
        margin-left: 0;
    }

    body {
        background-size: 50vw;
    }
}

@media screen and (max-width: 800px) {
    .formulario {
        margin-right: 0px;
        margin-left: 0px;
    }

    .input--radio {
        margin-left: 0;
    }

    body {
        background-size: 50vw;
    }
}

@media screen and (max-width: 720px) {
    .formulario {
        margin-right: 0px;
        margin-left: 0px;
        padding-top: 20rem;
        padding-bottom: 15rem;
    }

    .input--radio {
        margin-left: 0;
    }

    .sessao--flex {
        flex-wrap: wrap;
        }
    
        .sessao__caixa {
        margin-bottom: 2rem;
        }

        body {
            background-size: 50vw;
        }
}

@media screen and (max-width: 620px) {
    .formulario {
        margin-right: 0px;
        margin-left: 0px;
        padding-top: 20rem;
        padding-bottom: 15rem;
    }

    .input--radio {
        margin-left: 0;
    }

    .sessao--flex {
        flex-wrap: wrap;
        }
    
        .sessao__caixa {
        margin-bottom: 2rem;
        }

        body {
            background-size: 50vw;
        }
}

@media screen and (max-width: 520px) {
    .formulario {
        margin-right: 0px;
        margin-left: 0px;
        padding-top: 20rem;
        padding-bottom: 15rem;
    }

    .input--radio {
        margin-left: 0;
    }

    .sessao--flex {
        flex-wrap: wrap;
        }
    
        .sessao__caixa {
        margin-bottom: 2rem;
        }

        body {
            background-size: 50vw;
        }

}

@media screen and (max-width: 420px) {
    .formulario {
        margin-right: 0px;
        margin-left: 0px;
        padding-top: 20rem;
        padding-bottom: 15rem;
    }

    .input--radio {
        margin-left: 0;
    }

    .rotulo {
        font-size: 0.85rem;
    }

    .paragrafoform {
        padding: 0;
        font-size: 1rem;
    }

    #textarea {
        width: 13rem;
        height: 3rem;
    }


    .sessao--flex {
    flex-wrap: wrap;
    }

    .sessao__caixa {
    margin-bottom: 2rem;
    }

    body {
        background-size: 50vw;
    }
}

@media screen and (max-width: 360px) {
    .sessao--flex {
        flex-wrap: wrap;
    }

    .sessao__caixa {
        margin-bottom: 2rem;
    }

    .paragrafofooter {
        text-align: center;
    }
    body {
        background-size: 50vw;
    }
}
